#IGNORE ALL FILES
/*

# Un-ignore specific directories and their contents

!waybar/
!hypra/
!nvim/
!kitty/
!wlogout/
!waypaper/

# Ensure files inside the allowed directories are included

!waybar/**
!hypra/**
!nvim/**
!kitty/**
!wlogout/**
!waypaper/**


