/*

# Un-ignore specific directories and their contents
!swaync/
!waybar/
!hypr/
!nvim/
!kitty/
!wlogout/
!waypaper/

# Ensure files inside the allowed directories are included
!swaync/**
!waybar/**
!hypr/**
!nvim/**
!kitty/**
!wlogout/**
