dolphinrc
kactivitymanagerdrc
kde.org/UserFeedback.org.kde.dolphin.conf
konsolesshconfig
pulse/cookie
session/dolphin_dolphin_dolphin
yay/
nvim/
libreoffice/
kde.org/
kate/
gtk-4.0/
go/
gimp/
Code-Oss/

